<header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fw-bold">
        <div class="container-fluid ">
            <a class="navbar-brand" href="/"><img src="/images/logo.png" class="img-fluid w-25" alt="Logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav fs-5">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/games">Games</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/stats">Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/teams">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/competitions">Competitions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Players</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">Forum</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
