<header class="header">

    <nav class="header_nav">
        <ul>
            <li>
                <a href=""><img src="/images/logo.png"></a>
            </li>
            <li>
                <a href="">Clubs</a>
            </li>
            <li>
                <a href="">Games</a>
            </li>
            <li>
                <a href="">Competitions</a>
            </li>
        </ul>
    </nav>
</header>