<div class="table-responsive">
    <table class="table table-dark table-striped text-light table-borderless" id="competition-table">
        <thead>
        <tr class="fs-5">
            <th scope="col">#</th>
            <th scope="col" ></th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Country</th>
        </tr>
        </thead>
        <tbody>
        <!-- Dynamic rows will be added here -->
        </tbody>
    </table>
</div>
<script src="/javascripts/competition.js"></script>