<div class="container">
    <!-- competition logo-->
    <div class="row justify-content-center bg-dark">
        <div class="col-md-9 text-center">
            <img src="" alt="competition-logo" id="competition-logo">
        </div>
    </div>

    <!--game main info-->
    <div class="row sticky-top justify-content-center bg-dark">
        <div class="col-md-9">
            <div class="card h-100 bg-dark text-light">
                <a href="#" id="index-1-game">
                    <div class="card-body">
                        <h5 id="game-round-index" class="card-title fw-bold"></h5>
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="text-center">
                                <h6 id="home-team-index"></h6>
                                <img id="home-team-image-index" alt="Home Team Logo" class="img-fluid w-25">
                            </div>
                            <div>
                                <h2 id="game-score-index"></h2>
                            </div>
                            <div class="text-center">
                                <h6 id="away-team-index"></h6>
                                <img id="away-team-image-index" alt="Team B Logo" class="img-fluid w-25">
                            </div>
                        </div>
                        <p id="game-date-index" class="card-text">Match played on: </p>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <br>
    <!--game  lineups-->
    <div class="row justify-content-center">
        <div class="col-md-9">

            <div class="card bg-warning text-dark">
                <div class="card-body">
                    <div class="row align-items-center mb-3">
                        <div class="col-md-6">
                            <h5 class="text-center">Home Starting Lineup</h5>
                            <h6 class="text-center" id="home-team-lineup"></h6>
                            <table class="table table-striped" id="home-team-table-starting">
                                <tbody>
                                </tbody>
                            </table>
                            <hr>
                            <h5 class="text-center mt-4">Home Substitutes</h5>
                            <table class="table table-striped" id="home-team-table-substitutes">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h5 class="text-center">Away Starting Lineup</h5>
                            <h6 class="text-center" id="away-team-lineup"></h6>
                            <table class="table table-striped" id="away-team-table-starting">
                                <tbody>
                                </tbody>
                            </table>
                            <hr>
                            <h5 class="text-center mt-4">Away Substitutes</h5>
                            <table class="table table-striped" id="away-team-table-substitutes">
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <!--game events -->
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="card bg-success text-dark game-events">
                <div class="card-body">
                    <h5 class=" text-center card-title fw-bold">Game Events</h5>
                    <div id="game-events"></div>
                </div>
            </div>
        </div>
    </div>

    <!--current league standings-->
    <div class="row justify-content-center mt-3">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Standings</h5>
                    <div class="table-responsive">
                        <table id="standings-table" class="table table-striped table-hover">
                            <thead>
                            <th>Position</th>
                            <th>Team</th>
                            <th>Played</th>
                            <th>Goals</th>
                            <th>W</th>
                            <th>L</th>
                            <th>D</th>
                            <th>Points</th>
                            </thead>
                            <tbody id="standings-table-tbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    <!--less important game info-->
    <div class="row justify-content-center bg-dark">
        <div class="col-md-9">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Match Info</h5>

                    <!-- Home Manager Section -->
                    <h6 id="home-manager-name" class="card-subtitle">
                        <img src="/images/coach.png" alt="Home Icon" class="me-2" style="width: 30px; height: 30px;">
                        <span>Home Manager</span>
                    </h6>
                    <br>
                    <h6 id="away-manager-name" class="card-subtitle">
                        <img src="/images/coach.png" alt="Home Icon" class="me-2" style="width: 30px; height: 30px;">
                        <span>Away Manager</span>
                    </h6>

                    <br>
                    <p id="referee-name" class="card-text">
                        <img src="/images/whistle.png" alt="Home Icon" class="me-2" style="width: 30px; height: 30px;">
                        <span>Referee</span>
                    </p>

                    <p id="stadium-name" class="card-text">
                        <img src="/images/stadium.png" alt="Home Icon" class="me-2" style="width: 30px; height: 30px;">
                        <span>Stadium</span>
                    </p>

                </div>
            </div>
        </div>
    </div>
    <br>


    <!--head 2 head games-->
    <div class="row justify-content-center">

        <div class="col-md-9">
            <hr>
            <h3 class="text-light fw-bold  text-center">H2H</h3>
            <div class="row justify-content-center align-items-stretch mt-4 bg-dark head-to-head">
            </div>
        </div>
    </div>
    <br>




</div>


<script src="../javascripts/game_info.js"></script>