
    <div id="index-page-data" class="row d-flex justify-content-center">

        <div class="row">
            <h3 class="text-light">Latest Fixtures</h3>
            <!-- First Row with latest game result from the main championships-->
            <div id="main-domestic-leagues-latest-game" class="row align-items-stretch">

            </div>
            <hr>
        </div>


        <!--------------------------------------------------->
        <!--------------------------------------------------->
        <!--------------------------------------------------->
        <!--------------------------------------------------->
        <!--Second row with Top players in top 3 leagues-->
        <!---->
        <!--------------------------------------------------->
        <!--------------------------------------------------->
        <!--------------------------------------------------->
        <!--------------------------------------------------->
        <!------------user activities------>
        <div class="row align-items-stretch">
            <div class="col-md-3 mb-3">
                <div class="card h-100 bg-dark text-light d-flex flex-column justify-content-between">
                    <img src="/images/chart.png" class="card-img-top img-fluid w-50 mx-auto mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Stats</h5>
                        <p class="card-text">Search for insights and statistics on your favourite club or competition</p>
                    </div>
                    <div class="card-footer bg-dark border-0 text-center">
                        <a href="#" class="w-100 btn btn-warning">Enter</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card h-100 bg-dark text-light d-flex flex-column justify-content-between">
                    <img src="/images/generic-football-club.png" class="card-img-top img-fluid w-50 mx-auto mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Teams</h5>
                        <p class="card-text">Spotlight on clubs: Find facts and figures for football teams.</p>
                    </div>
                    <div class="card-footer bg-dark border-0 text-center">
                        <a href="#" class="btn btn-warning w-100">Enter</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card h-100 bg-dark text-light d-flex flex-column justify-content-between">
                    <img src="/images/trophy.png" class="card-img-top img-fluid w-50 mx-auto mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Competitions</h5>
                        <p class="card-text">Browse the latest on football tournaments, from local leagues to global championships.</p>
                    </div>
                    <div class="card-footer bg-dark border-0 text-center">
                        <a href="#" class="btn btn-warning w-100">Enter</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card h-100 bg-dark text-light d-flex flex-column justify-content-between">
                    <img src="/images/soccer-player.png" class="card-img-top img-fluid w-50 mx-auto mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Players</h5>
                        <p class="card-text">Get to know the stars on the pitch with key stats and info on football players</p>
                    </div>
                    <div class="card-footer bg-dark border-0 text-center">
                        <a href="#" class="btn btn-warning w-100">Enter</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card h-100 bg-dark text-light d-flex flex-column justify-content-between">
                    <img src="/images/scoreboard.png" class="card-img-top img-fluid w-50 mx-auto mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Games</h5>
                        <p class="card-text">Quickly catch up on scores and highlights from recent football games.</p>
                    </div>
                    <div class="card-footer bg-dark border-0 text-center">
                        <a href="/games" class="btn btn-warning w-100">Enter</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card bg-dark h-100 bg-li text-light d-flex flex-column justify-content-between">
                    <img src="/images/chat.png" class="card-img-top img-fluid w-25 mx-auto mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Chat</h5>
                        <p class="card-text">Engage and share insights in real-time discussions with fellow fans. Dive into lively chats about football teams, players, and the latest matches. Explore trends, exchange opinions, and stay connected with the global football community.</p>
                    </div>
                    <div class="card-footer  border-0 text-center">
                        <a href="#" class="btn btn-success w-100">Enter</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card h-100 bg-danger text-light d-flex flex-column justify-content-between">
                    <img src="/images/turn-up.png" class="card-img-top img-fluid w-50 mx-auto mt-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Go To The Top</h5>
                        <p class="card-text">Home</p>
                    </div>
                    <div class="card-footer bg-danger border-0 text-center">
                        <a href="#" class="btn btn-dark w-100">Enter</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="../javascripts/index.js"></script>
    <script src="../javascripts/main_page.js"></script>
