    <!-- First Row -->
    <div class="row">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card bg-dark text-light">
                    <a href="/">
                        <div class="card-body">
                            <h5 id="game-round-index-serie-a" class="card-title fw-bold">Serie A </h5>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="text-center"> <!-- Team A information -->
                                    <h6 id="home-team-index-serie-a"></h6>
                                    <img id="home-team-image-index-serie-a" alt="Home Team Logo" class="img-fluid" style="max-width: 50px;">
                                </div>
                                <div> <!-- Score display -->
                                    <h2 id="game-score-index-serie-a"></h2>
                                </div>
                                <div class="text-center"> <!-- Team B information -->
                                    <h6 id="away-team-index-serie-a">Team B</h6>
                                    <img id="away-team-image-index-serie-a" alt="Team B Logo" class="img-fluid" style="max-width: 50px;">
                                </div>
                            </div>
                            <p id="game-date-index-serie-a" class="card-text">Match played on: </p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 mb-3"> <!-- Reduce the width of the card -->
                <div class="card bg-dark text-light">
                    <a href="/">
                        <div class="card-body">
                            <h5 id="game-round-index-ligue-1" class="card-title fw-bold">League 1 </h5>
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="text-center"> <!-- Team A information -->
                                    <h6 id="home-team-index-ligue-1">Team A</h6>
                                    <img id="home-team-image-index-ligue-1" alt="Home Team Logo" class="img-fluid" style="max-width: 50px;">
                                </div>
                                <div> <!-- Score display -->
                                    <h2 id="game-score-index-ligue-1"></h2>
                                </div>
                                <div class="text-center"> <!-- Team B information -->
                                    <h6 id="away-team-index-ligue-1">Team B</h6>
                                    <img id="away-team-image-index-ligue-1" alt="Team B Logo" class="img-fluid" style="max-width: 50px;">
                                </div>
                            </div>
                            <p id="game-date-index-ligue-1" class="card-text">Match played on: </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--end of first row-->
        <!--------------------------------------------------->
        <!--------------------------------------------------->
        <!--------------------------------------------------->
        <!--Top players in top 3 leagues-->
        <div class="row align-items-stretch"> <!-- Add align-items-stretch class to the row -->
            <!-- Card 1 -->
            <div class="col-md-4 mb-3">
                <div class="card bg-light text-dark h-100"> <!-- Add h-100 class to make card full height -->
                    <div class="card-body text-center"> <!-- Add text-center class to center align content -->
                        <img class="img-fluid w-50" src="/images/serie-a-logo-transparent.png">
                        <h5 class="card-title fw-bold">Top Scorers</h5>
                        <!-- Table for top scorers -->
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td class="fw-bold" id="1-name-serie-a"></td>
                                <td id="1-goals-serie-a"></td>
                            </tr>
                            <tr>
                                <td id="2-name-serie-a"></td>
                                <td id="2-goals-serie-a"></td>
                            </tr>
                            <tr>
                                <td id="3-name-serie-a"></td>
                                <td id="3-goals-serie-a"></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- Button to view full list -->
                        <a href="/competition-1-top-scorers" class="btn btn-dark">View Full List</a>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4 mb-3">
                <div class="card bg-warning text-dark h-100"> <!-- Add h-100 class to make card full height -->
                    <div class="card-body text-center"> <!-- Add text-center class to center align content -->
                        <img class="img-fluid h-50" src="/images/premier-league-logo.png">
                        <h5 class="card-title fw-bold">Top Scorers</h5>
                        <!-- Table for top scorers -->
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td class="fw-bold" id="1-name-premier-league"></td>
                                <td id="1-goals-premier-league"></td>
                            </tr>
                            <tr>
                                <td id="2-name-premier-league"></td>
                                <td id="2-goals-premier-league"></td>
                            </tr>
                            <tr>
                                <td id="3-name-premier-league"></td>
                                <td id="3-goals-premier-league"></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- Button to view full list -->
                        <a href="/competition-2-top-scorers" class="btn btn-dark">View Full List</a>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4 mb-3">
                <div class="card bg-success text-dark h-100"> <!-- Add h-100 class to make card full height -->
                    <div class="card-body text-center"> <!-- Add text-center class to center align content -->
                        <img class="img-fluid w-50" src="/images/bundesliga-logo.png">
                        <h5 class="card-title fw-bold">Top Scorers</h5>
                        <!-- Table for top scorers -->
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td class="fw-bold" id="1-name-bundesliga"></td>
                                <td id="1-goals-bundesliga"></td>
                            </tr>
                            <tr>
                                <td id="2-name-bundesliga"></td>
                                <td id="2-goals-bundesliga"></td>
                            </tr>
                            <tr>
                                <td id="3-name-bundesliga"></td>
                                <td id="3-goals-bundesliga"></td>
                            </tr>
                            </tbody>
                        </table>
                        <a href="/competition-3-top-scorers" class="btn btn-dark btn-block">View Full List</a>
                    </div>
                </div>
            </div>
        </div>





        <!---->
        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-light" style="width: 24rem;">
                <img src="/images/icons8-decrease-96.png" class="card-img-top img-fluid w-25 mx-auto d-block" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Stats</h5>
                    <p class="card-text">Search for insights and statistics on your favourite club or competiton</p>
                    <a href="#" class="btn btn-danger mx-auto d-block">Enter</a>
                </div>
            </div>
        </div>
        <!---->
        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-light" style="width: 24rem;">
                <img src="/images/icons8-football-team-96.png" class="card-img-top img-fluid w-25 mx-auto d-block" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Teams</h5>
                    <p class="card-text">Find your club</p>
                    <a href="#" class="btn btn-primary mx-auto d-block">Enter</a>
                </div>
            </div>

        </div>
    </div>


    <!-- Second Row -->
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-light" style="width: 24rem;">
                <img src="/images/icons8-trophy-96.png" class="card-img-top img-fluid w-25 mx-auto d-block" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Competitions</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-btn btn-warning mx-auto d-block">Enter</a>
                </div>
            </div>

        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-light" style="width: 24rem;">
                <img src="/images/icons8-soccer-player-96.png"  class="card-img-top img-fluid w-25 mx-auto d-block" alt="...">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Players</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-danger mx-auto d-block">Enter</a>
                </div>
            </div>

        </div>
        <div class="col-md-4 mb-4">
            <div class="card bg-dark text-light" style="width: 24rem;">
                <img src="/images/icons8-chat-96.png" class="card-img-top img-fluid w-25 mx-auto d-block" alt="..." >
                <div class="card-body">
                    <h5 class="card-title fw-bold">Chat For Football Pundits</h5>
                    <p class="card-text">See what others are saying on your favourite Club or Competition</p>
                    <a href="#" class="btn btn-primary mx-auto d-block">Enter</a>
                </div>
            </div>

        </div>
    </div>
