<div class="row sticky-top justify-content-center bg-dark">
    <div class="col-md-9">
        <div class="card h-100 bg-dark text-light">
            <a href="#" id="index-1-game">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <img id="player-image" src=""  alt="Footballer" >
                        </div>
                        <div class="col">
                            <!-- Footballer's name -->
                            <h2 id="player-name" class="card-title"></h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<br>
<div class="row justify-content-center bg-dark">
    <div class="col-md-9">
        <div class="card h-100 bg-dark text-light">
            <a href="#" id="index-1-game">
                <div class="card-body text-warning">

                    <h5 id="age" class="card-title">Age:</h5>
                    <hr>
                    <h5 id="birth-country" class="card-title">Country of birth:</h5>
                    <hr>
                    <h5 id="current-club" class="card-title">Club:</h5>
                    <hr>
                    <h5 id="foot" class="card-title">Age:</h5>
                    <hr>
                    <h5 id="height" class="card-title">Height:</h5>
                    <hr>
                    <h5 id="position" class="card-title">Position: </h5>
                    <hr>
                    <h5 id="position" class="card-title">Subposition: </h5>
                </div>
            </a>
        </div>
    </div>
</div>

<script src="../javascripts/player_info.js"></script>