<div class="row  justify-content-center bg-dark">
    <div class="col-md-9">
        <div class="card h-100 bg-dark text-light">
            <div class="card-body">
                <div class="row text-center">
                    <!-- Footballer's name -->
                    <h1 id="player-name" class="card-title text-light"></h1>
                </div>
                <div class="row align-items-center">
                    <div class="col-auto">
                        <img class="rounded border light-shadow" id="player-image" src=""  alt="Footballer" >
                    </div>
                    <div class="col">

                        <table class="text-light table-dark table table-striped">
                            <tbody>
                            <tr>
                                <th scope="row">Age</th>
                                <td id="age" ></td>
                            </tr>
                            <tr>
                                <th scope="row">Country of Birth</th>
                                <td id="country-of-birth" ></td>
                            </tr>
                            <tr>
                                <th scope="row">Club</th>
                                <td id="current-club"></td>
                            </tr>
                            <tr>
                                <th scope="row">Height</th>
                                <td id="height"></td>
                            </tr>
                            <tr>
                                <th scope="row">Position</th>
                                <td id="position"></td>
                            </tr>
                            <tr>
                                <th scope="row">Subposition</th>
                                <td id="sub-position" ></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row  justify-content-center bg-dark">
    <div class="col-md-9">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <!-- Player Statistics Title -->
                <h3 class="card-title text-warning">Player Statistics</h3>

                <!-- Player Statistics Content -->
                <div class="row">
                    <div class="col-md-4">
                        <!-- Total Appearances -->
                        <div class="mb-3">
                            <h6>Total Appearances</h6>
                            <p id="total-appearances">XX</p>
                        </div>
                        <!-- Goals Scored -->
                        <div class="mb-3">
                            <h6>Goals Scored</h6>
                            <p id="goals-scored">XX</p>
                        </div>
                        <!-- Assists -->
                        <div class="mb-3">
                            <h6>Assists</h6>
                            <p id="assists">XX</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Yellow Cards -->
                        <div class="mb-3">
                            <h6>Yellow Cards</h6>
                            <p id="yellow-cards">XX</p>
                        </div>
                        <!-- Red Cards -->
                        <div class="mb-3">
                            <h6>Red Cards</h6>
                            <p id="red-cards">XX</p>
                        </div>
                        <!-- Minutes Played -->
                        <div class="mb-3">
                            <h6>Minutes Played</h6>
                            <p id="minutes-played">XX</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Market Value -->
                        <div class="mb-3">
                            <h6>Market Value</h6>
                            <p id="market-value">Current: $XX | Highest: $XX</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 1723px;">
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 0px;">
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>

            <div class="card-body">
                <h5 class="card-title">Card title that wraps to a new line</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 338px;">
        <div class="card p-3">
            <figure class="p-3 mb-0">
                <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0 text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 509px;">
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 887px;">
        <div class="card bg-primary text-white text-center p-3">
            <figure class="mb-0">
                <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0 text-white">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 996px;">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has a regular title and short paragraph of text below it.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 1150px;">
        <div class="card">
            <svg class="bd-placeholder-img card-img" width="100%" height="260" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Card image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Card image</text></svg>

        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 1436px;">
        <div class="card p-3 text-end">
            <figure class="mb-0">
                <blockquote class="blockquote">
                    <p>A well-known quote, contained in a blockquote element.</p>
                </blockquote>
                <figcaption class="blockquote-footer mb-0 text-muted">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="col-sm-6 col-lg-4 mb-4" style="position: absolute; left: 0%; top: 1545px;">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>-->

<!-- Career Statistics and Recent Performance -->


<!-- Training and Contract Information - Smaller Cards -->



<script src="../javascripts/player_info.js"></script>