<div class="row  justify-content-center bg-dark">
    <div class="col-md-9">
        <div class="card h-100 bg-dark text-light">
            <div class="card-body">
                <div class="row text-center">
                    <div class="col ml-12">
                        <!-- Footballer's name -->
                        <h1 id="player-name" class="card-title text-light"></h1>
                        <img class="rounded  light-shadow" id="player-image" src=""  alt="Footballer" >

                    </div>


                </div>
                <br>
                <div class="row align-items-center">

                    <div class="col">

                        <table class="text-light table-dark table table-striped">
                            <tbody>
                            <tr>
                                <th scope="row">Age</th>
                                <td id="age" ></td>
                            </tr>
                            <tr>
                                <th scope="row">Country of Birth</th>
                                <td id="country-of-birth" ></td>
                            </tr>
                            <tr>
                                <th scope="row">Club</th>
                                <td id="current-club"></td>
                            </tr>
                            <tr>
                                <th scope="row">Height</th>
                                <td id="height"></td>
                            </tr>
                            <tr>
                                <th scope="row">Position</th>
                                <td id="position"></td>
                            </tr>
                            <tr>
                                <th scope="row">Subposition</th>
                                <td id="sub-position" ></td>
                            </tr>
                            <tr>
                                <th scope="row">Market Value</th>
                                <td id="market-value" ></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row justify-content-center">
    <div class="col-md-9">
        <div class="card bg-warning text-dark">
            <div class="card-body">
                <!-- Player Statistics Title -->
                <h4 class="card-title  text-center mb-4 fw-bold">Player Stats</h4>
                <hr style="border-color: black">

                <!-- Player Statistics Content -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="statistic-item">
                            <h5 class="fw-bold ">Total Appearances</h5>
                            <p id="total-appearances" class="statistic-value">XX</p>
                        </div>
                        <div class="statistic-item">
                            <h5 class="fw-bold ">Goals Scored</h5>
                            <p id="goals-scored" class="statistic-value">XX</p>
                        </div>
                        <div class="statistic-item">
                            <h5 class="fw-bold ">Assists</h5>
                            <p id="assists" class="statistic-value">XX</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="statistic-item">
                            <h5 class="fw-bold ">Yellow Cards</h5>
                            <p id="yellow-cards" class="statistic-value">XX</p>
                        </div>
                        <div class="statistic-item">
                            <h5 class="fw-bold ">Red Cards</h5>
                            <p id="red-cards" class="statistic-value">XX</p>
                        </div>
                        <div class="statistic-item">
                            <h5 class="fw-bold ">Minutes Played</h5>
                            <p id="minutes-played" class="statistic-value">XX</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row  justify-content-center bg-dark">
    <div class="col-md-9">
        <div class="card h-100 bg-success text-dark club-history-container"  >
            <div class="card-body" id="club-history-card">

                <h4 class="card-title text-dark fw-bold text-center">Club History</h4>
                <hr style="border-color: black">
            </div>
        </div>
    </div>
</div>

<br>




<script src="../javascripts/player_info.js"></script>