@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
  background-color: #343a40; !important;
}
a{

  text-decoration: none;
  color: white;
}
a:hover:not(#stats-link){

  color: #ffc107 !important;
}

#stats-link:hover{

  color: black;!important;
}

/**
the link of the players in the game lineups
 */
.player-lineups-name-link:hover{

   color: #0056b3 !important;
}

.nav-link:hover {
  color: #28a745 !important;
}
hr {
  border: 1px solid rgba(204, 204, 204, 0.58); /* Sets a light grey border */
  margin: 20px 0; /* Adds vertical spacing */
}

table.table {
  border: 0px solid rgba(0, 0, 0, 0);
}

.site-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(211, 211, 211, 0.15);
  padding: 20px 50px;
}

.site-header .logo,
.site-header .navigation,
.site-header .social-media,
.site-header .user-account {
  display: flex;
  align-items: center;
}

.site-header .logo img {
  width: 200px;
  margin-right: 10px;
}

.site-header .logo span,
.site-header .navigation a,
.site-header .social-media a,
.site-header .user-account a {
  font-size: 20px;
  font-family: Arial, sans-serif;
  margin: 0 20px 0 10px;
  text-decoration: none;
  color: black;
}

.site-header .navigation a:hover{

  color: rgba(255, 255, 0, 0.9);
}

#site-name-home-button{

  font-weight: bold;
  font-size: 15px;
}

.site-header .navigation a:first-child,
.site-header .navigation li:first-child {
  margin-left: 200px; /* Adjust as needed; set to 0 or a smaller value */
}

.card{

  border: 1px solid rgba(211, 211, 211, 0.15);
}
.card:hover:not(.game-events .club-history-container ) {
  transform: scale(1.05); /* Scale the card up slightly on hover */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); /* Add a shadow effect on hover */
}
.card:not(.game-events .club-history-container #standings-table) {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add transition for smooth effect */
}

#standings-table:hover{
  transform: none !important;
}
#standings-table{
  transform: none !important;
}

.nav-link-black {
  color: black !important;
}
.competition-name {
  font-size: 25px;
  transition: font-size 0.3s ease;
}

.competition-name:hover {
  font-size: 30px;
}
.competition-name a:hover {
  text-decoration: none; !important;
}

/*the link on the card displaying the last game of a club*/
#last-game-link-card:hover{

  border: 1px solid #ffc107;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
.hidden {
  display: none;
}

.menu-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.menu-buttons .btn {
  background-color: transparent;
  color: #6c757d; /* Bootstrap secondary color */
  border: 2px solid transparent; /* Set border width */
  border-radius: 0; /* Remove border radius */
  padding: 10px 20px;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease;
  width: 100px; /* Adjust width as needed */
  height: 50px; /* Equal to width to make it square */
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none; /* Remove outline */
}
.menu-buttons .btn:hover {
  color: white; /* Black color */
}
.menu-buttons .btn.active {
  color: #ffc107; /* Black color */
  border-bottom-color: #ffc107; /* Bootstrap warning color */
}
.menu-buttons .btn.active:hover {
  border-bottom-color: #ffc107; /* Bootstrap warning color */
}
.menu-buttons .btn:focus {
  outline: 0;
}
/* Remove outline on button focus in Chrome */
button:focus { outline:0 !important; }

.scrollable-list {
  max-height: 200px;
  overflow-y: auto;
}

.bg-purple {
  background-color: #8e42c1; /* Example purple color */
}